<ngx-extended-pdf-viewer [src]= "pdfSrc"
 
  [showToolbar]="true"
  [showSidebarButton]="false"
  [showFindButton]="true"
  [showPagingButtons]="true"
  [showDrawEditor]="true"
  [showStampEditor]="true"
  [showTextEditor]="false"
  [showZoomButtons]="false"
  [showPresentationModeButton]="false"
  [showOpenFileButton]="false"
  [showPrintButton]="false"
  [showDownloadButton]="false"
  [showSecondaryToolbarButton]="true"
  [showRotateCwButton]="false"
  [showRotateCcwButton]="true"
  [showHandToolButton]="true"
  [showScrollingButton]="false"
  [showSpreadButton]="false"
  [showPropertiesButton]="false">
  
</ngx-extended-pdf-viewer>


